<%- include('../../partials/header.ejs')%>
<body>
    <%- include('../../partials/navbar.ejs')%>
    <div class="container">
        <hr>
        <h2>Artigos</h2>
        <a class="btn btn-success" href="/admin/articles/new">Criar nova Artigo</a>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titulo</th>
                    <th>Slug</th>
                    <th>Categoria</th>
                    <th>Ações</th>
                </tr>
            </thead><!--MostrarTituloColuna -->
            <tbody>  
                <%  articles.forEach(article => { %>
                    <tr>
                        <td><%= article.id %></td>
                        <td><%= article.title %></td>
                        <td><%= article.slug %></td>
                        <td><%= article.category.title %></td>
                        <td>
                            <form method="post" action="/articles/delete" style="display: inline;" onsubmit="confirmarDelecao(event, this)">
                                <input type="hidden" name="id" value="<%= article.id %>">
                                <button class="btn btn-danger">Excluir</button>
                            </form>
                        </td>
                    </tr>
               <% }) %>            
                
            </tbody><!--MostrarDados -->
        </table>
    </div>
</body>
<%- include('../../partials/footer.ejs')%>

<!--Impedir envio de formulário sem configuração.-->
<script>
    function confirmarDelecao(event, form){
        event.preventDefault();//evitar envio - formulario
       var decision= confirm("Você quer deletar este artigos?")

       if (decision) {//se clicar em ok deleta
        console.log("Escolhir deletar")
        form.submit();
       } 
    }
</script>